*{
    margin: 0;padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
header{
    position: sticky;
    top: 0;
}

.logo {
    width: 120px;
    
}
.logo img {
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.right ul li{
    list-style: none;
    display: flex;
    justify-items: center;
    gap: 2px;
    cursor: pointer;
}

.right ul {
    display: flex;
    gap: 20px;
}

.btn{
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 15px;
}
.first{
    background-color: #09a6bd;
    grid-row:4/5 ;
    grid-column:1/2 ;
}
.second{
    background-color: #81c780;
    grid-row:4/5 ;
    grid-column:3/4 ;
    
}
.lang{
    grid-column: 1/4;
    grid-row: 2/3;
    
}
.primary-lang{
    color: black;
    font-weight: 700;
    font-size: 100%;
    
}
.secondary-lang{
    font-size: 100%;
    color: black;
    
    margin-bottom: 12px;
}

.box{
    display: grid;
    grid-template-rows: 32px -22px;
    grid-template-columns: 122px 0px 122px;
    justify-items: center;
    align-items: center;
    width: fit-content;
    background-color: #f9f9f9;
    margin: 16px auto;
    padding: 22px 15px ;
}

.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    width: 60vw;
    margin :0 auto;
}

